.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(4, 0, 14);
}


.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    left: 10px;
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* optional */
}


.buttonContainers{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.conferenceView{
    display: flex;
    padding: 10px;
    
    gap: 10px;
}
.conferenceView  video{
    width: 40vw;
    min-width: 30vw;
    border-radius: 10px;
}

.buttonContainers  svg{
    font-size: 3rem;
}


.chatRoom{
    background: white;
    position: absolute;
    right: 0;
    height: 90vh;
    width: 25vw;
    border-radius: 10px;
    padding-inline: 20px;

}

.chattingContainer{
    position: relative;
    height: 100%;
}

.chattingArea{
    position: absolute;
    bottom: 0;
    color: black;

}
.chattingDisplay{
    color: black;
    
}